/* ---D E B U G--- */
.debug [class*="col-"] {
  border: 1px solid black;
  /* height: 100px; */
}
/* -------------------- */

.margin_top {
  margin-top: 10px;
}
.blue {
  background-color: #1f47fd;
}

.dark {
  background-color: #05154c;
}

.grey {
  background-color: #f4f5f9;
}

/* ridimensiono logo digital ocean */
header img {
  width: 40%;
}

.my_button {
  border-color: #2f69fe;
  color: #2f69fe;
  font-weight: bold;
}

.jumbotron  {
  background-image: url(../img/bg-home.svg);
  background-position: center;
  background-size: cover;
}

.jumbotron h1 {
  color: white;
}

.jumbotron small {
  color: #c0cefe;
}


/* FORM EMAIL----- */
.form_email {
  background-color: white;
  padding: 25px;
  border-radius: 10px;

}
.form_email img {
  width: 20px;
  display: inline-block;
}
.form_email h3 {
  font-weight: bold;
}

.form_email h3:last-child {
  color: #2f69fe;
  font-weight: bold;
}
