/* ---D E B U G--- */
/* .debug [class*="col-"] {
  border: 1px solid black; */
  /* height: 100px; */
}
/* -------------------- */
.padding_20 {
  padding: 20px;
}
.margin_top_bottom {
  margin-top: 50px;
  margin-bottom: 50px;
}
.blue {
  background-color: #1f47fd;
}

.dark {
  background-color: #05154c;
}

.grey {
  background-color: #f4f5f9;
}

/* ridimensiono logo digital ocean */
header img {
  width: 40%;
}

.my_button {
  border-color: #2f69fe;
  color: #2f69fe;
  font-weight: bold;
}

.jumbotron  {
  background-image: url(../img/bg-home.svg);
  background-position: center;
  background-size: cover;
}

.jumbotron h1 {
  color: white;
}

.jumbotron small {
  color: #c0cefe;
}


/* FORM EMAIL----- */
.form_email {
  background-color: white;
  padding: 25px;
  border-radius: 10px;

}
.form_email img {
  width: 20px;
  display: inline-block;
}
.form_email h3 {
  font-weight: bold;
}

.form_email h3:last-child {
  color: #2f69fe;
  font-weight: bold;
}


/* -----S E C T I O N 2 - MAIN */
ul > li {
  display: block;
  height: 50px;
  border-left: 1px solid grey;
  color: grey;
  line-height: 50px;
  padding-left: 30px;
  cursor: pointer;
}


/* -----S E C T I O N 3 - MAIN */
.section_3 img {
  width: 50%;
}

.section_3 [class*="fa-angle"] {
  font-size: 6rem;
}

/* -----S E C T I O N 5 - MAIN */
.section_5 {
  color: white;
}
.section_5 a {
  color: #56bbcc;
}

.section_5 .city .row [class*="col-"] .row [class*="col-"] {
  border-bottom: 1px solid white;
  padding: 5px;
}
.section_5 .city .row [class*="col-"] .row [class*="col-"] :last-child {
  border-bottom: unset;
}
